<main class="container">
  <h2>Create your account</h2>
  <material-input
    class="input"
    id="email-input"
    placeholder="Email"
    label="Email"
    width="25vw"
    (onChange)="updateEmail($event)"
  />
  <material-input
    class="input"
    id="password-input"
    placeholder="Password"
    label="Password"
    width="25vw"
    type="password"
    (onChange)="updatePw1($event)"
  />
  <material-input
    class="input"
    id="password-input-2"
    placeholder="Password again"
    label="Password again"
    width="25vw"
    type="password"
    (onChange)="updatePw2($event)"
  />
  <div class="buttons">
    <material-button (click)="signUp()" inputText="Sign up" />
    <material-button
      (click)="onClickLogInInstead()"
      inputText="Log in instead"
    />
  </div>
</main>
