<div class="register">
  <div class="header">Register a bill</div>
  <bill-type-selector (onChange)="billUpdater.updateType($event)" />

  <material-input
    (onChange)="billUpdater.updateAmount($event)"
    type="number"
    label="Amount"
  />
  <material-date-picker (onDateChange)="billUpdater.updateDueTo($event)" />
  <material-input
    (onChange)="billUpdater.updateDescription($event)"
    label="Description"
  />
  <tenant-selector
    (onChange)="billUpdater.updateTenant($event)"
    selectedTenantName="None"
  />
  <apartment-selector
    (onChange)="billUpdater.updateApartment($event)"
    *ngIf="billUpdater.bill.tenant.id == 0"
  />
  <material-button (click)="registerBill()" inputText="Register" />
</div>
<bill-table [bills]="bills" [showApartment]="true" />
