<div class="register">
  <div class="header">Register a bill</div>
  <material-select
    [options]="billTypes"
    placeHolder="Bill type"
    (onChange)="updateType($event)"
  />

  <material-input
    class="input"
    id="amount-input"
    placeholder="Amount"
    label="Amount"
    (onChange)="updateAmount(+$event)"
    type="number"
  />
  <material-date-picker
    (onDateChange)="updateDueTo($event)"
    placeHolder="Due To"
  />
  <material-input
    class="input"
    id="description-input"
    placeholder="Description"
    label="Description"
    (onChange)="updateDescription($event)"
  />
  <material-button (click)="registerBill()" inputText="Register" />
</div>
<h2>Bills</h2>
<div class="container">
  <table class="table" *ngIf="bills.length">
    <thead>
      <tr>
        <td>Type</td>
        <td>Amount</td>
        <td>Due To</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills; index as i" (click)="onRowClick(i)">
        <td>{{ bill.type }}</td>
        <td>{{ bill.amount }} $</td>
        <td>{{ bill.dueTo | date : "longDate" }}</td>
        <td>{{ bill.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
