.table {
  width: 100%;
}
.header {
  margin-top: 1vh;
  font-size: x-large;
}
.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5vh;
}
tbody tr {
  padding-bottom: 2vh;
  cursor: pointer;
}

td {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

tbody tr:hover {
  box-shadow: 0 0 0 2px #d0d0d0;
}
button {
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}
