<main class="container">
  <h2>Sign in to your account</h2>
  <material-input
    class="input"
    id="email-input"
    placeholder="Email"
    label="Email"
    width="25vw"
    (onChange)="updateEmail($event)"
  />
  <material-input
    class="input"
    id="password-input"
    placeholder="Password"
    label="Password"
    width="25vw"
    type="password"
    (onChange)="updatePw($event)"
  />
  <div class="buttons">
    <material-button (click)="login()" inputText="Log in" />
    <material-button
      (click)="onClickSignUpInstead()"
      inputText="Sign up instead"
    />
  </div>
</main>
