<div class="register">
  <div class="header">Register an apartment</div>
  <material-input
    class="input"
    id="name-input"
    placeholder="Name"
    label="Name"
    (onChange)="updateName($event)"
  />
  <material-input
    class="input"
    id="address-input"
    placeholder="Address"
    label="Address"
    (onChange)="updateAddress($event)"
  />
  <material-input
    class="input"
    id="rent-input"
    placeholder="Rent"
    label="Rent"
    (onChange)="updateRent(+$event)"
    type="number"
  />
  <material-button (click)="registerApartment()" inputText="Register" />
</div>
<h2>Apartments</h2>
<div class="container">
  <table class="table" *ngIf="apartments.length">
    <thead>
      <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Rent</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let apartment of apartments">
        <td>{{ apartment.name }}</td>
        <td>{{ apartment.address }}</td>
        <td>{{ apartment.rent }}</td>
      </tr>
    </tbody>
  </table>
</div>
