<div class="register">
  <div class="header">Register an apartment</div>
  <material-input
    placeholder="Name"
    label="Name"
    (onChange)="apartmentUpdater.updateName($event)"
  />
  <material-input
    placeholder="Address"
    label="Address"
    (onChange)="apartmentUpdater.updateAddress($event)"
  />
  <material-input
    placeholder="Rent"
    label="Rent"
    (onChange)="apartmentUpdater.updateRent(+$event)"
    type="number"
  />
  <material-button (click)="registerApartment()" inputText="Register" />
</div>
<h2>Apartments</h2>
<div class="container">
  <table class="table" *ngIf="apartments.length">
    <thead>
      <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Rent</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let apartment of apartments"
        (click)="navigateToApartmentPage(apartment)"
      >
        <td>{{ apartment.name }}</td>
        <td>{{ apartment.address }}</td>
        <td>{{ apartment.rent }}</td>
        <td>
          <img
            style="height: 40px; width: 40px"
            src="../../../assets/pencil.png"
            alt="pencil.png"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
