<button (click)="generateToken()">Generate tenant token</button>
<div *ngIf="showToken">Your generated token: "{{ token.guid }}"</div>
<h2>Register tenant</h2>
<label for="name">Name:</label>
<input type="text" id="name" /><br /><br />
<label for="entry">Entry date:</label>
<input type="date" id="entry" /><br /><br />
<label for="exit">Exit date:</label>
<input type="date" id="exit" /><br /><br />
<label for="rent">Rent:</label>
<input type="number" id="rent" /><br /><br />
<select name="apartments" id="apartments">
  <option *ngFor="let apartment of apartments">{{ apartment.name }}</option>
</select>
<button (click)="registerTenant()">Register</button>
<div class="container">
  <table class="table" *ngIf="tenants.length">
    <thead>
      <tr>
        <td>Name</td>
        <td>Entry date</td>
        <td>Exit date</td>
        <td>Apartment</td>
        <td>Rent amount</td>
        <td>Remaining time of occupation</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tenant of tenants">
        <td>{{ tenant.name }}</td>
        <td>{{ tenant.entryDate | date : "longDate" }}</td>
        <td>{{ tenant.exitDate | date : "longDate" }}</td>
        <td>{{ tenant.apartment.name }}</td>
        <!--hard coded currency type !!-->
        <td>{{ tenant.rent }} $</td>
        <td>{{ tenant.remainingTime | number : "2.1-2" }} days</td>
        <td>
          <button (click)="unregisterTenant(tenant)">Remove tenant</button>
          <button (click)="modifyTenant(tenant)">Modify</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
