<div class="register">
  <div class="header">Register Tenant</div>

  <material-button
    (click)="generateToken()"
    inputText="Generate tenant token"
  />
  <div *ngIf="showToken">Your generated token: "{{ token.guid }}"</div>
  <material-input
    placeholder="Name"
    label="Name"
    (onChange)="tenantUpdater.updateName($event)"
  />
  <material-date-picker
    (onDateChange)="tenantUpdater.updateEntryDate($event)"
    placeHolder="Entry date"
  />
  <material-date-picker
    (onDateChange)="tenantUpdater.updateExitDate($event)"
    placeHolder="Exit date"
  />
  <material-input
    placeholder="Rent"
    label="Rent"
    (onChange)="tenantUpdater.updateRent($event)"
    type="number"
  />
  <apartment-selector (onChange)="tenantUpdater.updateApartment($event)" />
  <material-button (click)="registerTenant()" inputText="Register" />
</div>

<div class="container">
  <table class="table" *ngIf="tenants.length">
    <thead>
      <tr>
        <td>Name</td>
        <td>Entry date</td>
        <td>Exit date</td>
        <td>Apartment</td>
        <td>Rent amount</td>
        <td>Remaining time of occupation</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tenant of tenants" (click)="onRowClicked(tenant)">
        <td>{{ tenant.name }}</td>
        <td>{{ tenant.entryDate | date : "longDate" }}</td>
        <td>{{ tenant.exitDate | date : "longDate" }}</td>
        <td>{{ tenant.apartment.name }}</td>
        <!--hard coded currency type !!-->
        <td>{{ tenant.rent }} $</td>
        <td>{{ tenant.remainingTime | number : "0.0-2" }} days</td>
        <td>
          <button (click)="unregisterTenant(tenant)">Remove tenant</button>
          <button (click)="modifyTenant(tenant)">Modify</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
