<main>
  <material-button inputText="Home" (click)="navigateToLandlordPage()" />
  <div class="plain-text" *ngIf="!editing">
    <div class="container">
      <table>
        <thead>
          <td>Name:</td>
          <td>{{ apartment.name }}</td>
        </thead>
        <tbody>
          <tr>
            <td>Address:</td>
            <td>{{ apartment.address }}</td>
          </tr>
          <tr>
            <td>Rent</td>
            <td>{{ apartment.rent }}</td>
          </tr>
        </tbody>
      </table>
      <img
        src="../../../assets/pencil.png"
        alt="pencil.png"
        (click)="editing = true"
      />
    </div>
  </div>
  <div class="container" *ngIf="editing">
    <table *ngIf="editing">
      <thead>
        <td>Name:</td>
        <td>
          <material-input
            [text]="apartment.name"
            (onChange)="apartmentUpdater.updateName($event)"
          />
        </td>
      </thead>
      <tbody>
        <tr>
          <td>Address:</td>
          <td>
            <material-input
              [text]="apartment.address"
              (onChange)="apartmentUpdater.updateAddress($event)"
            />
          </td>
        </tr>
        <tr>
          <td>Rent:</td>
          <td>
            <material-input
              [text]="apartment.rent.toString()"
              (onChange)="apartmentUpdater.updateRent($event)"
              type="number"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <material-button inputText="Done" (click)="editing = false" *ngIf="editing" />
  <bill-table [bills]="bills" />
</main>
